<h2>New cable car</h2>

<%= render "form.html", changeset: @changeset,
                        lines: @lines,
                        action: cable_car_path(@conn, :create) %>

<%= link "Back", to: cable_car_path(@conn, :index) %>
