<h2><%= gettext "All users" %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= gettext "Email" %></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td>
        <%= link user.email, to: user_path(@conn, :show, user) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link gettext("New user"), to: user_path(@conn, :new) %>
