<h2><%= gettext("Show user") %></h2>

<ul>

  <li>
    <strong><%= gettext("Email:") %></strong>
    <%= @user.email %>
  </li>

  <li>
    <strong><%= gettext("Account created:") %></strong>
    <%= @user.inserted_at %>
  </li>

</ul>

