<h2>Edit sighting</h2>

<%= render "form.html", changeset: @changeset,
                        cable_cars: @cable_cars,
                        action: sighting_path(@conn, :update, @sighting) %>

<%= link "Back", to: sighting_path(@conn, :index) %>
