<h2>
  <%= gettext("Edit sighting") %>
</h2>

<%= render "form.html", changeset: @changeset,
                        cable_cars: @cable_cars,
                        action: sighting_path(@conn, :update, @locale, @sighting) %>

<%= link gettext("Cancel"), to: sighting_path(@conn, :index, @locale) %>
