/* This file is for your main application css. */
@import 'colors';
@import 'navbar';

/* Override default header margins for mobile */
@media (max-width: 767px){
  header {
    margin-right: -20px;
    margin-left: -20px;
  }
}

/*
  Override the larger size screens. It's causing anxiety
  to think about this app on a desktop
*/
@media (min-width: 1200px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}

header {
  background-color: $color3;

  a {
    color: #ffffff;
  }
}

.the-big-button-box {
  margin: 2em;
}

.sighting-list-row-separator {
  border: 0;
  margin: 0.5em 0;
  border-bottom: 1px solid #eee;
}

.sighting-check {
  color: $success-green;
}
