<h2>Listing cable cars</h2>

<table class="table">
  <thead>
    <tr>
      <th>Car number</th>
      <th>Line</th>
      <th>Description</th>

    </tr>
  </thead>
  <tbody>
<%= for cable_car <- @cable_cars do %>
    <tr>
      <td>
        <%= link cable_car.car_number, to: cable_car_path(@conn, :show, cable_car), class: "btn btn-default btn-xs" %>
      </td>
      <td><%= cable_car.line.title %></td>
      <td><%= cable_car.description %></td>
    </tr>
<% end %>
  </tbody>
</table>

