<h2>
  <%= @cable_car.car_number %>
</h2>

<h4>
  <%= @cable_car.line.title %>
</h4>

<p>
  <%= @cable_car.description %>
</p>
<%= link gettext("All Cable Cars"), to: cable_car_path(@conn, :index, @locale) %>
