<h2>Show cable car</h2>

<ul>

  <li>
    <strong>Line:</strong>
    <%= @cable_car.line_id %>
  </li>

  <li>
    <strong>Car number:</strong>
    <%= @cable_car.car_number %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @cable_car.description %>
  </li>

</ul>

<%= link "Edit", to: cable_car_path(@conn, :edit, @cable_car) %>
<%= link "Back", to: cable_car_path(@conn, :index) %>
