<h2>
  <%= gettext "I saw a cable car!" %>
</h2>

<%= render "form.html", changeset: @changeset,
                        cable_cars: @cable_cars,
                        action: sighting_path(@conn, :create, @locale) %>

<%= link gettext("Nevermind"), to: sighting_path(@conn, :index, @locale) %>
